.MuonW.PowerTable {
    div[data-name=table-container] {
        resize: vertical;
        overflow: auto;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            thead {     
                z-index: 10;
                top: 0;
                box-shadow: 0px 3px 3px -2px #ccc;
                tr[data-name=filters-tr] {
                    th{
                        padding: 0 .2rem .4rem .2rem;
                    }
                }
            }
            tfoot {
                z-index: 9;
                bottom: 0;
                box-shadow: 0px -3px 3px -2px #ccc;
                tr[data-name=filters-tr] {
                    th{
                        padding: .4rem .2rem 0 .2rem;
                    }
                }
            }
            thead, tfoot {
                position: sticky;
                text-align: left;
                background-color: white;
                tr[data-name=loading_bar-tr] {
                    height: 4px;
                }
                tr[data-name=titles-tr] {
                    text-transform: capitalize;
                    th{
                        padding: .4rem .2rem .4rem .2rem;
                        cursor: pointer;
                    }
                    th:not([data-sortable=false]){
                        &::after{
                            content: '↕';
                            color: #888;
                            font-size: x-small;
                            position: absolute;
                            padding: 0px 5px;
                        }
                        &[data-dir=asc] {
                            color: #348afb;
                            &::after{
                                content: '▲';
                                color: inherit;
                                margin: 0;
                            }
                        }
                        &[data-dir=desc] {
                            color: #348afb;
                            &::after{
                                content: '▼';
                                color: inherit;
                                margin: 0;
                            }
                        }
                    } 
                }
                tr[data-name=filters-tr] {
                    input{
                        width: calc(100% - 10px);
                        &:not(:placeholder-shown) {
                            background-color: #d9ebff;
                        }
                        &[data-is_regex=true]{
                            color: #8f0194;
                            font-weight: bold;
                        }
                    }
                }
            }
            tbody{
                tr{
                    box-shadow: 0 0 1px 0px #888;
                }
                tr:nth-child(2n){
                    background-color: #f9f9f9;
                }
                tr:nth-child(2n + 1){
                    background-color: #fff;
                }
                td{
                    padding: .2rem .4rem;
                    white-space: break-spaces;
                    height: 2rem;
                }
                td[data-name=noResults-td], td[data-name=rendering-td]{
                    background-color: #eee;
                    text-align: center;
                    padding: 20px;
                }
                textarea{
                    height: 1.5rem;
                    width: 8rem;
                    padding: 0.1rem 0.2rem;
                }
                td[data-key=id] textarea{
                    width:2rem;
                }
            }
        }
    }
    div[data-name=search-container]{
        margin-right: auto;
        input[data-name=search-input]{
            &:not(:placeholder-shown) {
                background-color: #d9ebff;
            }
            &[data-is_regex=true]{
                color: #8f0194;
                font-weight: bold;
            }
        }
    }
    div[data-name=topBar], div[data-name=bottomBar]{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        gap: .5rem;
        padding: .5rem 0;
    }
    div[data-name=stats-container]{
        margin-right: auto;
    }
    div[data-name=dropdown-container]{
        margin-right: 20px;
    }
    div[data-name=settings-container], div[data-name=actions-container]{
        div[data-name=handle]{
            cursor: pointer;
        }
        div[data-name=menu]{
            visibility: hidden;
            background-color: white;
            position: absolute;
            z-index: 11;
            box-shadow: 0px 0px 0px 1px #d5d5d5, 0px 0px 5px 2px #ccc;
            border-radius: 5px;
            div[data-name=item]{
                cursor: pointer;
                padding: 5px 8px;
                font-weight: normal;
                &:hover{
                    background-color: #e2e2e2;
                }
            }
        }
    }
    div[data-name=pagination-container]{
        span{
            box-sizing: border-box;
            border: 1px solid transparent;
            display: inline-block;
            min-width: 2rem;
            margin-left: 2px;
            text-align: center;
            text-decoration: none;
            padding: .3rem;
            cursor: pointer;
            border-radius: 3px;
            user-select: none;
            &:hover{
                color: white;
                border: 1px solid #111;
                background: linear-gradient(to bottom, #585858 0%, #111 100%);
            }
            &[data-active=true]{
                color: #333;
                background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
                border: 1px solid #979797;
            }
            &[data-disabled=true]{
                color: #aaa;
                cursor:default;
                background: transparent;
                border: 1px solid transparent;
            }
        }
    }
    div[data-type=segment]{
        position: relative;
    }
    div[data-status=rendering]{
        tr[data-name=loading_bar-tr] {
            animation-duration: 2.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background:#4a8df8;
            background: linear-gradient(to right, #aecdff 8%, #1c6ff5 18%, #aecdff 33%);
            background-size: 1500px auto;
        }
    }
    @keyframes placeHolderShimmer{
        0%{
            background-position: -1500px
        }
        100%{
            background-position: 1500px
        }
    }
}